@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}
@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}
@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent2) {
  border-top: 4px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
@mixin animate($bckgrd-color1,$bckgrd-color2){
  background-color: $bckgrd-color1;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  
  @keyframes example {
    0% {background-color: $bckgrd-color1;}
    50% {background-color: $bckgrd-color2;}
    100% {background-color: $bckgrd-color1;}
  }
}
// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h2,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}
h1 {
  font-family: $fonts-top-headline;
  background: $accent1;
  color: $text-dark;
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}
h2 {
  color: $text-dark;
  font-weight: 900; /* Heavy */
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.3em;
  padding: 0.2em 0.5em;
}
h3 {
  font-size: 1.4rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1.3em;
  padding: 0.5em 1em 0.25em 1em;
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: 0.5em 0;
}
h5 {
  font-family: $fonts-special;
  font-size: 1.3em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: 0.5em 0;
}
p {
  @include set-font(1em, 1.5em);
  padding: 0.5em 1em;
  margin: 0;
}
a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: $text-light;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: $accent1;
}
@media screen and (min-width:800px) { 
  h1{
    font-size: 150%;
  }
  h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 2.25em;
  }
  p {
    @include set-font(1.3em, 1.5em);
  }
}  
