@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    @include atoms.uppercase($text-dark);
    @include atoms.animate($brown-sidebar,$accent1)
  }
}
.summary {
  @include atoms.uppercase($text-dark);
  padding: 15% 2em;
  font-weight: 600;
  font-size: 1.1em;
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $accent2; //in this case the link wants to be light instead of the default dark
  }
}
.preamble {
  background: $background-special;
  color: $text-dark;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
  font-size: 1.5em;
}
.explanation{
  padding: 2%;
  font-size: 1.5em;
}
.participation{
  background: $text-dark;
  font-size: 1.5em;
  padding:2%;
}
.benefits{
  font-size: 1.5em;
  padding: 2%;
}
.requirements{
  background: $accent2;
  font-size: 1.5em;
  padding: 2%;
} 
.sidebar{
  background-color: $brown-sidebar;
    padding: 10% 15%;
    grid-column: 1;    
    @include atoms.set-font(1.2em, 2em)
}
footer{
  font-family: "Merienda One", cursive;
  background: #b7d6a4;
  color: #25210F;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 1em 0;
  padding: 0.5em 1em;
  align-self: flex-end;
  @include atoms.animate($brown-sidebar,$accent1)
}
@media screen and (min-width: 800px)  {
  .summary{
    font-size: 1em;
  }
  .preamble{
    font-size: 1em;
  }
  .explanation{
    width:80%;
    font-size: 0.9em;
    padding: 4%;
    align-self: flex-end;
  }
  .participation{
    width:80%;
    background: $text-dark;
    font-size: 0.9em;
    padding:2%;
    align-self: flex-start;
  }
  .benefits{
    width:65%;
    font-size: 0.9em;
    padding: 4%;
    align-self: flex-end;
  }
  .requirements{
    font-size: 0.9em;
    width:120%;
  } 
  .sidebar{
    margin: -9%;
    margin-right: -17%;
    grid-column: -2;
    height:fit-content;
  }
  footer{
    font-size: 1.5em;
    margin-right: -13em;
  }
}