@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-dark);
    & {
      background-color: $brown-sidebar;
      position: relative;
      animation-name: example;
      animation-duration: 10s;
      animation-iteration-count: 3;
    }
    @keyframes example {
      0% {background-color: $brown-sidebar;}
      50% {background-color: $accent1;}
      100% {background-color: $brown-sidebar;}
    }
  }
}
.summary {
  @include atoms.uppercase($text-dark);
  padding: 15% 2em;
  font-weight: 600;
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $accent2; //in this case the link wants to be light instead of the default dark
  }
}
.preamble {
  background: $background-special;
  color: $text-dark;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
  font-size: 1rem;

}
.explanation{
  width:60%;
  font-size: 1rem;
  padding: 2%;
  align-self: flex-end;
}
.participation{
  width:70%;
  background: $text-dark;
  font-size: 1rem;
  padding:2%;
  align-self: flex-start;
}
.benefits{
  width:50%;
  font-size: 1rem;
  padding: 2%;
  align-self: flex-end;
}
.requirements{
  background: $accent2;
  font-size: 1rem;
  padding: 2%;
}
.sidebar{
  background-color: $brown-sidebar;
  max-width: 35%;
  margin-top: 2%;
  padding: 5% 3%;
  position: absolute;
  right: 0;
  top: 55em;
  @include atoms.set-font(1.5rem, 2em)
  
}