$fonts-top-headline: "Merienda One", cursive;
$fonts-headline: "Merienda", cursive;
$fonts-special: "Mali", cursive;
$fonts-body: Arial, sans-serif;
$background-color: #daede2;
$primary: rgba(161, 176, 204,0.95);
$accent1: #b7d6a4;
$accent2: rgba(110, 124, 90, 0.9);
$brown-sidebar: rgba(106, 77, 39, 0.8);
$text-dark: #25210F;
$text-light: #f9f7e9;
$background-image: 'mountain-river320x200.jpg';
$background-special:rgba(240, 234, 214, 0.85);