
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
h1, h2, ul, .post-date {
  font-family: "Lora", serif;
}

h1 a {
  color: #333;

}

header {
  text-align: center !important;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  display: grid;
}

a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #333;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  padding-left: 0;
  border-top: 1.7px solid #d0d0d0;
  border-bottom: 1.7px solid #d0d0d0;
}

ul li {
  padding: 6px;
}

.post-date {
  text-transform: uppercase;
  text-align: right;
  border-bottom: 1.7px solid #d0d0d0;
  padding: 10px;
}

img {
  width: 100%;
}

@media (min-width: 480px) {
  body {
    margin: auto !important;
    max-width: 700px !important;
  }
}
  body {
    background: white;
  }
@media (min-width: 480px) {
  body img {
    display: flex;
    width: 200px;
    padding-left: 25%;
    justify-content: right;
  }
  body ul {
    display: flex;
    grid-gap: 10px;
    padding: 10px;
    
  }
  body article {
    display: flex;
    grid-column: 1/4;
    
  }
  body .post-date {
    border-bottom: none;
    border-right: 1.5px solid #d0d0d0;
    max-width: 175px;
    min-width: 175px;
    
  }
  body .post-content {
    padding: 10px;
    border-bottom: 1.5px solid #d0d0d0;
    width: auto;
    
  }
}